[submodule "external/piotr_toolbox"]
	path = external/piotr_toolbox
	url = https://github.com/rokm/pdollar-toolbox
[submodule "external/liblinear"]
	path = external/liblinear
	url = https://github.com/cjlin1/liblinear
[submodule "external/cnn-feature-extractor"]
	path = external/cnn-feature-extractor
	url = https://github.com/rokm/cnn-feature-extractor
